/**
 * CSS Properties
 *
 * @author Josh Sherman
 * @link   https://github.com/joshtronic/properties.css
 */

/* clear */
.clear, .clear-both { clear: both  }
.clear-left         { clear: left  }
.clear-right        { clear: right }

/* cursor */
.crosshair { cursor: crosshair }
.e-resize  { cursor: e-resize  }
.help      { cursor: help      }
.move      { cursor: move      }
.n-resize  { cursor: n-resize  }
.ne-resize { cursor: ne-resize }
.nw-resize { cursor: nw-resize }
.pointer   { cursor: pointer   }
.progress  { cursor: progress  }
.s-resize  { cursor: s-resize  }
.se-resize { cursor: se-resize }
.sw-resize { cursor: sw-resize }
.text      { cursor: text      }
.w-resize  { cursor: w-resize  }
.wait      { cursor: wait      }

/* display */
.block              { display: block              }
.box                { display: box                }
.flex               { display: flex               }
.flex-box           { display: flex-box           }
.inherit            { display: inherit            }
.inline             { display: inline             }
.inline-block       { display: inline-block       }
.inline-flex        { display: inline-flex        }
.inline-table       { display: inline-table       }
.list-item          { display: list-item          }
.hide               { display: none               }
.table              { display: table              }
.table-caption      { display: table-caption      }
.table-cell         { display: table-cell         }
.table-column       { display: table-column       }
.table-column-group { display: table-column-group }
.table-footer-group { display: table-footer-group }
.table-header-group { display: table-header-group }
.table-row          { display: table-row          }
.table-row-group    { display: table-row-group    }

/* float */
.float, .float-left { float: left  }
.no-float           { float: none  }
.float-right        { float: right }

/* font-family */
.cursive    { font-family: cursive    }
.fantasy    { font-family: fantasy    }
.monospace  { font-family: monospace  }
.sans-serif { font-family: sans-serif }
.serif      { font-family: serif      }

/* font-style */
.italic  { font-style: italic  }
.oblique { font-style: oblique }

/* font-variant */
.small-caps { font-variant: small-caps }

/* font-weight */
.bold    { font-weight: bold    }
.bolder  { font-weight: bolder  }
.lighter { font-weight: lighter }

/* list-style-type */
.armenian        { list-style-type: armenian             }
.circle          { list-style-type: circle               }
.cjk-ideographic { list-style-type: cjk-ideographic      }
.decimal         { list-style-type: decimal              }
.decimal-0       { list-style-type: decimal-leading-zero }
.disc            { list-style-type: disc                 }
.gregorian       { list-style-type: gregorian            }
.hebrew          { list-style-type: hebrewli             }
.hiragana        { list-style-type: hiragana             }
.hriagana-iroha  { list-style-type: hriagana-iroha       }
.katakana        { list-style-type: katakana             }
.katakana-iroha  { list-style-type: katakana-iroha       }
.lower-alpha     { list-style-type: lower-alpha          }
.lower-greek     { list-style-type: lower-greek          }
.lower-latin     { list-style-type: lower-latin          }
.lower-roman     { list-style-type: lower-roman          }
.marker-none     { list-style-type: none                 }
.square          { list-style-type: square               }
.upper-alpha     { list-style-type: upper-alpha          }
.upper-latin     { list-style-type: upper-latin          }
.upper-roman     { list-style-type: upper-roman          }

/* overflow[-x|-y] */
.hide-overflow     { overflow:   hidden }
.scroll-overflow   { overflow:   scroll }
.hide-overflow-x   { overflow-x: hidden }
.scroll-overflow-y { overflow-x: scroll }
.hide-overflow-x   { overflow-y: hidden }
.scroll-overflow-y { overflow-y: scroll }

/* position */
.absolute { position: absolute }
.fixed    { position: fixed    }
.relative { position: relative }
.static   { position: static   }

/* text-align */
.center  { text-align: center   }
.justify { text-align: justify  }
.left    { text-align: left     }
.right   { text-align: right    }

/* text-decoration */
.blink  { text-decoration: blink        }
.strike { text-decoration: line-through }
.over   { text-decoration: overline     }
.under  { text-decoration: underline    }

/* text-overflow */
.clip     { text-overflow: clip     }
.ellipsis { text-overflow: ellipsis }

/* text-transform */
.capitalize { text-transform: capitalize }
.lowercase  { text-transform: lowercase  }
.uppercase  { text-transform: uppercase  }

/* text-wrap */
.suppress     { text-wrap: suppress     }
.unrestricted { text-wrap: unrestricted }

/* page-break[-after|-before] */
.pb-after  { page-break-after: always }
.pb-before { page-break-before: always }

/* vertical-align */
.baseline    { vertical-align: baseline    }
.bottom      { vertical-align: bottom      }
.middle      { vertical-align: middle      }
.sub         { vertical-align: sub         }
.super       { vertical-align: super       }
.text-bottom { vertical-align: text-bottom }
.text-top    { vertical-align: text-top    }
.top         { vertical-align: top         }

/* visibility */
.hidden   { visibility: hidden   }
.collapse { visibility: collapse }

/* white-space */
.nowrap   { white-space: nowrap   }
.pre      { white-space: pre      }
.pre-line { white-space: pre-line }
.pre-wrap { white-space: pre-wrap }

/* word-break */
.break-all { word-break: break-all }
.hyphenate { word-break: hyphenate }

/* word-wrap */
.break-word { word-wrap: break-word }

/* normal, resets font / text */
.normal
{
	font-style:     normal;
	font-variant:   normal;
	font-weight:    normal;
	text-transform: none;
}
